@import "jeet"
@import "rupture"

.main
  //center()
  cf()
  .textarea
    col(1/3)
    +mobile()
      stack()
  .table
    col(1/3)
    +mobile()
      stack()
  .output
    col(1/3)
    +mobile
      stack()

table {
  border: 2px solid black;
}

th, td {
  white-space: nowrap;
}

tr:last-child td {
  border-bottom: 0 !important;
}

td {
  text-indent: 5px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.textarea > textarea {
  resize: none;
  width: 75%;
}

.textarea > textarea,
.textarea > pre {
  background: transparent;
  font: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.textarea > pre {
  visibility: hidden;
}