@import "fluidity/normalize"
@import "fluidity/semantic-grid"

.main
  grid()
  .textarea
    grid-space(25%)
  .table
    grid-space(30%)
  .output
    grid-space(45%)

table {
  border: 2px solid black;
}

th, td {
  white-space: nowrap;
}

tr:last-child td {
  border-bottom: 0 !important;
}

td {
  text-indent: 5px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.textarea > textarea {
  resize: none;
  width: 75%;
}

.textarea > textarea,
.textarea > pre {
  background: transparent;
  font: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.textarea > pre {
  visibility: hidden;
}